body{
    background-color:rgb(133, 182, 255);
    margin-left:40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
h1{
    color:rgb(172, 195, 210);
}
main h2,h3,a{color:rgb(197, 176, 210)}